.selectedAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}


.avatarsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    place-items: center;
    width: 100%;
    margin-bottom: 2rem;

}


g[id~="Color/Palette/Blue-01"] {
    fill: #FFEBEA !important;
}

.randomAvatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #FFEBEA;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2F2558
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.avatarTitle {
    text-align: center;
    margin: 1rem;
    color: 2F2558;
}

.inputContainer {
    width: 270px;
    margin: auto;

    h2 {
        text-align: left;
    }
}

.nameInput {
    border: 2px solid #E95877;
    border-radius: 12px;
    padding: 0.5rem;
    width: 100%;
}