.profileContainer {
  padding: 20px;
  text-align: center;
  padding-bottom: 80px;
}

.header {
  background-color: #f8cdd0;
  padding: 20px;
  border-radius: 12px;
  min-height: 168px;
  margin-bottom: 4rem;
}

.avatarContainer {
  position: relative;
  display: inline-block;
}

.avatarWrapper {
  position: absolute;
  bottom: -170px;
  left: 50%;
  transform: translateX(-50%);
}

.avatar {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 3px solid #e95877;
}

.editButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #e95877;
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: #e95877;
    opacity: 0.8;
  }
}

.editButton img {
  width: 16px;
  height: 16px;
}

.name {
  font-size: 1.5rem;
  margin: 10px 0;
}

.coins {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  background-color: pink;
  border-radius: 12px;
  min-height: 44px;
  max-width: 215px;
  margin: 0 auto;
}

.intis {
  font-size: 1rem;
  color: #ff6f61;
  margin: 0;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.stat {
  background-color: #2F2558;
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  .statIcon {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }
}

.statValue {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.statBig {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.rewards {
}

.rewardCards {
  display: flex;
  justify-content: space-around;
}

.rewardCard {
  background-color: #1a1a1a;
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  text-align: center;
}

.rewardCard.disabled {
  background-color: #e0e0e0;
  color: #a0a0a0;
}

.carousel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 10px;
  scroll-snap-type: x mandatory;
}

.card {
  background-color: #2F2558;
  color: white;
  border-radius: 10px;
  //max-width: 180px;
  flex-shrink: 0;
  scroll-snap-align: start;
  text-align: center;
  overflow: hidden;
}

.cardImage {
  width: 100%;
  height: 83px;
  object-fit: cover;
  object-position: top;
}

.cardContent {
  padding: 10px;
  .title {
    font-size: 12px;
    color: white;
    margin: 0;
  }
  .rewardCost {
    font-size: 10px;
    margin: 0;
    font-weight: bold;
    text-align: start;
    gap: 6px;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  .cardCoin {
    width: 15.15px;
    height: 10.6px;
  }
}

.card.disabled {
  opacity: 0.5;
}
