.introContainer {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .logoAnimation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .logo {
    width: 150px;
    animation: fadeIn 2s ease-in-out;
  }
  
  .introContent {
    margin-top: 55vh;
    max-width: 500px;
    padding: 20px;
    text-align: left;

    h1 {
      font-weight: 600;
    }
  }
  
  .introImage {
    position: absolute;
    top:0;
    margin-bottom: 20px;
    left:0;
    width: 100vw;;
  }
  
  .introButton {
    margin-top: 2rem;

  }

  @keyframes fadeIn {
    0% { opacity: 0; transform: scale(0.8); }
    100% { opacity: 1; transform: scale(1); }
  }
  