body {
  max-width: 500px;

  padding: 1rem;
}

button {
  font-size: 1rem;
  font-weight: 500;
  background-color: #2F2558;
  color: white;
  width: 200px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px !important;
  border: none !important;
}

h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Roboto', sans-serif;
}
